In [1]:
import pandas as pd
import numpy as np
import os
import re
import pandas_datareader.data as web

from pathlib import Path
from IPython.display import display
from scipy.stats import pearsonr
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Remove all data without at least 5 years worth of data
def set_length(data, year):
    counts = data.groupby('permno').size()
    to_exclude = counts[counts < (year * 12)].index
    mask = ~data.index.get_level_values('permno').isin(to_exclude)
    data = data[mask]
    return data

# Get ticker data
def get_permno_data(data, permno):
    idx = pd.IndexSlice
    desired_data = data.loc[idx[:, permno, :], :]
    return desired_data

# Get ticker data
def get_ind_data(data, ind):
    idx = pd.IndexSlice
    desired_data = data.loc[idx[ind, :, :], :]
    return desired_data

# Assign industry based off range
def assign_label(df, column_name, sic_ranges, label):
    df['sic_temp_crsp'] = df['sic_crsp']
    df['sic_temp_comp'] = df['sic_comp']
    
    for r in sic_ranges:
        if isinstance(r, tuple):
            df.loc[(df['sic_temp_crsp'] >= r[0]) & (df['sic_temp_crsp'] <= r[1]), f'{column_name}_crsp'] = label
            df.loc[(df['sic_temp_comp'] >= r[0]) & (df['sic_temp_comp'] <= r[1]), f'{column_name}_comp'] = label
        else:
            df.loc[df['sic_temp_crsp'] == r, f'{column_name}_crsp'] = label
            df.loc[df['sic_temp_comp'] == r, f'{column_name}_comp'] = label
    
    df = df.drop(columns=['sic_temp_crsp', 'sic_temp_comp'])
    
    return df

In [3]:
root = Path(os.getcwd())

In [4]:
comp = pd.read_csv(root / 'data' / 'comp_price.csv')

In [5]:
crsp_comp = pd.read_csv(root / 'data' / 'crsp_comp_price.csv')

In [6]:
crsp = pd.read_csv(root / 'data' / 'crsp_price.csv')

In [7]:
comp['datadate'] = pd.to_datetime(comp['datadate']).dt.to_period("M").dt.to_timestamp("M")
comp = comp.rename(columns={'tic': 'ticker', 'prccm':'close', 'cshom': 'out_share', 'datadate': 'date'}
                              ).set_index(['ticker', 'date']).drop(['iid', 'gvkey'], axis=1)

In [8]:
crsp_comp['datadate'] = pd.to_datetime(crsp_comp['datadate']).dt.to_period("M").dt.to_timestamp("M")
crsp_comp = crsp_comp.rename(columns={'tic': 'ticker', 'prccm':'close', 'cshoq': 'out_share', 'datadate': 'date'
                                     , 'LPERMNO':'permno', 'sic':'sic_comp'}
                              ).set_index(['permno', 'date']).drop(['iid', 'GVKEY', 'ticker', 'out_share', 'close'], axis=1)
crsp_comp = crsp_comp.sort_index(level=['permno','date'])

In [9]:
crsp['date'] = pd.to_datetime(crsp['date']).dt.to_period("M").dt.to_timestamp("M")

crsp = crsp.rename(columns={'TICKER': 'ticker', 'PRC':'close', 'VOL':'volume', 
                                        'SHROUT': 'out_share', 'FACSHR': 'adj_share', 'ISSUNO':'nasdaq',
                                        'SHRCD': 'share_code', 'PERMNO':'permno', 'SICCD':'sic_crsp', 'RET':'ret_01'}
                              ).set_index(['permno', 'date']).drop('PERMCO', axis=1)

crsp = crsp.sort_index(level=['permno', 'date'])

crsp = crsp[crsp.index.get_level_values('permno').notna()]

crsp['sic_crsp'] = pd.to_numeric(crsp['sic_crsp'], errors='coerce', downcast='integer')

crsp = crsp.dropna(subset=['sic_crsp'])

In [10]:
combined = pd.merge(crsp, crsp_comp, left_index=True, right_index=True, how='outer')

In [11]:
combined = combined[~combined.index.duplicated(keep='first')]

In [12]:
# Make a permno's industry the same across all dates
# def first_non_na(series):
#     return series.dropna().iloc[0] if not series.dropna().empty else np.nan

# combined['sic_crsp'] = combined.groupby('permno')['sic_crsp'].transform(first_non_na)
# combined['sic_comp'] = combined.groupby('permno')['sic_comp'].transform(first_non_na)

In [13]:
# combined = set_length(combined, 2)

# Create Ind

In [15]:
ind = {
    'agric': [(100, 199), (200, 299), (700, 799), (910, 919), 2048],
    'food': [(2000, 2009), (2010, 2019), (2020, 2029), (2030, 2039), (2040, 2046), (2050, 2059), (2060, 2063), (2070, 2079), (2090, 2092), 2095, (2098, 2099)],
    'soda': [(2064, 2068), 2086, 2087, 2096, 2097],
    'beer': [2080, 2082, 2083, 2084, 2085],
    'smoke': [(2100, 2199)],
    'toys': [(920, 999), (3650, 3651), 3652, 3732, (3930, 3931), (3940, 3949)],
    'fun': [(7800, 7829), (7830, 7833), (7840, 7841), 7900, (7910, 7911), (7920, 7929), (7930, 7933), (7940, 7949), 7980, (7990, 7999)],
    'books': [(2700, 2709), (2710, 2719), (2720, 2729), (2730, 2739), (2740, 2749), (2770, 2771), (2780, 2789), (2790, 2799)],
    'hshld': [2047, (2391, 2392), (2510, 2519), (2590, 2599), (2840, 2843), 2844, (3160, 3161), (3170, 3171), 3172, (3190, 3199), 3229, 3260, (3262, 3263), 3269, (3230, 3231), (3630, 3639), (3750, 3751), 3800, (3860, 3861), (3870, 3873), (3910, 3911), 3914, 3915, (3960, 3962), 3991, 3995],
    'clths': [(2300, 2390), (3020, 3021), (3100, 3111), (3130, 3131), (3140, 3149), (3150, 3151), (3963, 3965)],
    'hlth': [(8000, 8099)],
    'medeq': [3693, (3840, 3849), (3850, 3851)],
    'drugs': [2830, 2831, 2833, 2834, 2835, 2836],
    'chems': [(2800, 2809), (2810, 2819), (2820, 2829), (2850, 2859), (2860, 2869), (2870, 2879), (2890, 2899)],
    'rubbr': [3031, 3041, (3050, 3053), (3060, 3069), (3070, 3079), (3080, 3089), (3090, 3099)],
    'txtls': [(2200, 2269), (2270, 2279), (2280, 2284), (2290, 2295), 2297, 2298, 2299, (2393, 2395), (2397, 2399)],
    'bldmt': [(800, 899), (2400, 2439), (2450, 2459), (2490, 2499), (2660, 2661), (2950, 2952), 3200, (3210, 3211), (3240, 3241), (3250, 3259), 3261, 3264, (3270, 3275), (3280, 3281), (3290, 3293), (3295, 3299), (3420, 3429), (3430, 3433), (3440, 3441), 3442, 3446, 3448, 3449, (3450, 3451), 3452, (3490, 3499), 3996],
    'cnstr': [(1500, 1511), (1520, 1529), (1530, 1539), (1540, 1549), (1600, 1699), (1700, 1799)],
    'steel': [3300, (3310, 3317), (3320, 3325), (3330, 3339), (3340, 3341), (3350, 3357), (3360, 3369), (3370, 3379), (3390, 3399)],
    'fabpr': [3400, 3443, 3444, (3460, 3469), (3470, 3479)],
    'mach': [(3510, 3519), (3520, 3529), 3530, 3531, 3532, 3533, 3534, 3535, 3536, 3538, (3540, 3549), (3550, 3559), (3560, 3569), 3580, 3581, 3582, 3585, 3586, 3589, (3590, 3599)],
    'elceq': [3600, (3610, 3613), (3620, 3621), (3623, 3629), (3640, 3644), 3645, 3646, (3648, 3649), 3660, 3690, (3691, 3692), 3699],
    'autos': [2296, 2396, (3010, 3011), 3537, 3647, 3694, 3700, 3710, 3711, 3713, 3714, 3715, 3716, 3792, (3790, 3791), 3799],
    'aero': [3720, 3721, (3723, 3724), 3725, (3728, 3729)],
    'ships': [(3730, 3731), (3740, 3743)],
    'guns': [(3760, 3769), 3795, (3480, 3489)],
    'gold': [(1040, 1049)],
    'mines': [(1000, 1009), (1010, 1019), (1020, 1029), (1030, 1039), (1050, 1059), (1060, 1069), (1070, 1079), (1080, 1089), (1090, 1099), (1100, 1119), (1400, 1499)],
    'coal': [(1200, 1299)],
    'oil': [1300, (1310, 1319), (1320, 1329), (1330, 1339), (1370, 1379), 1380, 1381, 1382, 1389, (2900, 2912), (2990, 2999)],
    'util': [4900, (4910, 4911), (4920, 4922), 4923, (4924, 4925), (4930, 4931), 4932, 4939, (4940, 4942)],
    'telcm': [4800, (4810, 4813), (4820, 4822), (4830, 4839), (4840, 4841), 4880, 4890, 4891, 4892, 4899],
    'persv': [(7020, 7021), (7030, 7033), 7200, (7210, 7212), 7214, (7215, 7216), 7217, 7219, (7220, 7221), (7230, 7231), (7240, 7241), (7250, 7251), (7260, 7269), (7270, 7290), 7291, (7292, 7299), 7395, 7500, (7520, 7529), (7530, 7539), (7540, 7549), 7600, 7620, 7622, 7623, 7629, 7630, 7640, (7690, 7699), (8100, 8199), (8200, 8299), (8300, 8399), (8400, 8499), (8600, 8699), (8800, 8899), (7510, 7515)],
    'bussv': [(2750, 2759), 3993, 7218, 7300, (7310, 7319), (7320, 7329), (7330, 7339), (7340, 7342), 7349, (7350, 7351), 7352, 7353, 7359, (7360, 7369), 7374, 7376, 7377, 7378, 7379, 7380, (7381, 7382), 7383, 7384, 7385, 7389, 7390, 7391, (7392, 7392), 7393, 7394, 7396, 7397, 7399, (7519, 7519), 8700, (8710, 8713), (8720, 8721), (8730, 8734), (8740, 8748), (8900, 8910), 8911, (8920, 8999), (4220, 4229)],
    'hardw': [(3570, 3579), 3680, 3681, 3682, 3683, 3684, 3685, 3686, 3687, 3688, 3689, 3695],
    'softw': [(7370, 7372), 7375, 7373],
    'chips': [3622, 3661, (3662, 3662), 3663, 3664, 3665, 3666, 3669, (3670, 3679), (3810, 3810), (3812, 3812)],
    'labeq': [3811, 3820, 3821, 3822, 3823, 3824, 3825, 3826, 3827, 3829, (3830, 3839)],
    'paper': [(2520, 2549), (2600, 2639), (2670, 2699), (2760, 2761), (3950, 3955)],
    'boxes': [(2440, 2449), (2640, 2659), (3220, 3221), (3410, 3412)],
    'trans': [(4000, 4013), (4040, 4049), 4100, (4110, 4119), (4120, 4121), (4130, 4131), (4140, 4142), (4150, 4151), (4170, 4173), (4190, 4199), 4200, (4210, 4219), (4230, 4231), (4240, 4249), (4400, 4499), (4500, 4599), (4600, 4699), 4700, (4710, 4712), (4720, 4729), (4730, 4739), (4740, 4749), 4780, 4782, 4783, 4784, 4785, 4789],
    'whlsl': [5000, (5010, 5015), (5020, 5023), (5030, 5039), (5040, 5042), 5043, 5044, 5045, 5046, 5047, 5048, 5049, (5050, 5059), 5060, 5063, 5064, 5065, (5070, 5078), 5080, 5081, 5082, 5083, 5084, 5085, (5086, 5087), 5088, 5090, (5091, 5092), 5093, 5094, 5099, 5100, (5110, 5113), (5120, 5122), (5130, 5139), (5140, 5149), (5150, 5159), (5160, 5169), (5170, 5172), (5180, 5182), (5190, 5199)],
    'rtail': [5200, (5210, 5219), (5220, 5229), (5230, 5231), (5250, 5251), (5260, 5261), (5270, 5271), 5300, 5310, 5320, (5330, 5331), 5334, (5340, 5349), (5390, 5399), 5400, (5410, 5411), 5412, (5420, 5429), (5430, 5439), (5440, 5449), (5450, 5459), (5460, 5469), (5490, 5499), 5500, (5510, 5529), (5530, 5539), (5540, 5549), (5550, 5559), (5560, 5569), (5570, 5579), (5590, 5599), (5600, 5699), 5700, (5710, 5719), (5720, 5722), (5730, 5733), 5734, 5735, 5736, (5750, 5799), 5900, (5910, 5912), (5920, 5929), (5930, 5932), 5940, 5941, 5942, 5943, 5944, 5945, 5946, 5947, 5948, 5949, (5950, 5959), (5960, 5969), (5970, 5979), (5980, 5989), 5990, 5992, 5993, 5994, 5995, 5999],
    'meals': [(5800, 5819), (5820, 5829), (5890, 5899), 7000, (7010, 7019), (7040, 7049), 7213],
    'banks': [6000, (6010, 6019), 6020, 6021, 6022, 6023, 6025, 6026, 6027, (6028, 6029), (6030, 6036), (6040, 6059), (6060, 6062), (6080, 6082), (6090, 6099), 6100, (6110, 6111), (6112, 6113), (6120, 6129), (6130, 6139), (6140, 6149), (6150, 6159), (6160, 6169), (6170, 6179), (6190, 6199)],
    'insur': [6300, (6310, 6319), (6320, 6329), (6330, 6331), (6350, 6351), (6360, 6361), (6370, 6379), (6390, 6399), (6400, 6411)],
    'rlest': [6500, 6510, 6512, 6513, 6514, 6515, (6517, 6519), (6520, 6529), (6530, 6531), 6532, (6540, 6541), (6550, 6553), (6590, 6599), (6610, 6611)],
    'fin': [(6200, 6299), 6700, (6710, 6719), (6720, 6722), 6723, 6724, 6725, 6726, (6730, 6733), (6740, 6779), 6790, 6791, 6792, 6793, 6794, 6795, 6798, 6799],
    'other': [(4950, 4959), (4960, 4961), (4970, 4971), (4990, 4991)]
}

In [16]:
for name, ranges in ind.items():
    print('-'*60)
    print(name)
    combined = assign_label(combined, 'ind', ranges, name)

------------------------------------------------------------
agric
------------------------------------------------------------
food
------------------------------------------------------------
soda
------------------------------------------------------------
beer
------------------------------------------------------------
smoke
------------------------------------------------------------
toys
------------------------------------------------------------
fun
------------------------------------------------------------
books
------------------------------------------------------------
hshld
------------------------------------------------------------
clths
------------------------------------------------------------
hlth
------------------------------------------------------------
medeq
------------------------------------------------------------
drugs
------------------------------------------------------------
chems
------------------------------------------------------------
rubbr
------------------------------------------------------------
txtls
------------------------------------------------------------
bldmt
------------------------------------------------------------
cnstr
------------------------------------------------------------
steel
------------------------------------------------------------
fabpr
------------------------------------------------------------
mach
------------------------------------------------------------
elceq
------------------------------------------------------------
autos
------------------------------------------------------------
aero
------------------------------------------------------------
ships
------------------------------------------------------------
guns
------------------------------------------------------------
gold
------------------------------------------------------------
mines
------------------------------------------------------------
coal
------------------------------------------------------------
oil
------------------------------------------------------------
util
------------------------------------------------------------
telcm
------------------------------------------------------------
persv
------------------------------------------------------------
bussv
------------------------------------------------------------
hardw
------------------------------------------------------------
softw
------------------------------------------------------------
chips
------------------------------------------------------------
labeq
------------------------------------------------------------
paper
------------------------------------------------------------
boxes
------------------------------------------------------------
trans
------------------------------------------------------------
whlsl
------------------------------------------------------------
rtail
------------------------------------------------------------
meals
------------------------------------------------------------
banks
------------------------------------------------------------
insur
------------------------------------------------------------
rlest
------------------------------------------------------------
fin
------------------------------------------------------------
other

In [17]:
combined['ind'] = combined['ind_comp'].combine_first(combined['ind_crsp'])

# Ind Data

In [18]:
ind_data = combined.dropna(subset=['ind'])

In [19]:
# # Remove all industries with no more than 10 firms
# ind_count = ind_data.groupby('permno')['ind'].first().value_counts()
# valid_ind = ind_count[ind_count >= 10].index.tolist()
# ind_data = ind_data[ind_data['ind'].isin(valid_ind)]

In [20]:
ind_data = ind_data.reset_index()
ind_data = ind_data.set_index(['ind', 'permno', 'date'])

In [21]:
store = ind_data.copy(deep=True)

### Clean

In [22]:
ind_data = store

In [23]:
ind_data['ret_01'] = pd.to_numeric(ind_data['ret_01'], errors='coerce')

In [24]:
# def create_return(df, windows):
#     by_permno = df.groupby('permno')
#     for t in windows:
#         df[f'ret_{t:02}'] = by_permno.close.pct_change(t)
#     return df

# ind_data = create_return(ind_data, [1])

In [25]:
# Drop all permno/date pairs that have negative closing price data
ind_data = ind_data[ind_data['close'] >= 0]

In [26]:
# # Compute the number of firms for each ('ind', 'date') group and broadcast it to the original shape
# counts = ind_data.groupby(['ind', 'date']).transform('size')

# # Use boolean masking to set values to NaN where the count is less than 10
# mask = counts < 10
# ind_data[mask] = np.nan

# Value-Weighted Returns

In [27]:
ind_data['value_permno'] = ind_data['close'] * ind_data['out_share'] * 1000

In [28]:
ind_data['value_ind'] = ind_data.groupby(['ind', 'date'])['value_permno'].transform('sum')

In [29]:
ind_data['vwr_weight'] = ind_data['value_permno'] / ind_data['value_ind']

In [30]:
ind_data['vwr_permno'] = ind_data['vwr_weight'] * ind_data['ret_01']

In [31]:
ind_data['vwr_ind'] = ind_data.groupby(['ind', 'date'])['vwr_permno'].transform('sum')

# Volatility

In [32]:
daily = pd.read_csv(root / 'data' / 'daily_price.csv')

In [33]:
daily = daily.rename(columns={'PERMNO':'permno', 'PRC':'close'})

In [34]:
daily = daily[daily['close'] >= 0]

In [35]:
daily['ret_01'] = daily.groupby('permno')['close'].pct_change()

In [36]:
daily['date'] = pd.to_datetime(daily['date'])

In [37]:
daily['month'] = daily['date'].dt.to_period('M')

In [38]:
month_vol = daily.groupby(['permno', 'month'])['ret_01'].std().reset_index()

In [39]:
month_vol = month_vol.rename(columns={'month':'date', 'ret_01':'vol'})

In [40]:
month_vol['date'] = month_vol['date'].astype(str)

In [41]:
month_vol['date'] = pd.to_datetime(month_vol['date'])

In [42]:
month_vol['date'] = month_vol['date'].dt.to_period('M').dt.to_timestamp('M')

In [43]:
month_vol = month_vol.set_index(['permno', 'date'])

In [44]:
ind_data = ind_data.reset_index().set_index(['permno', 'date'])

In [45]:
ind_data = pd.merge(ind_data, month_vol, left_index=True, right_index=True, how='left')

In [46]:
ind_data = ind_data.reset_index().set_index(['ind', 'permno', 'date'])

In [47]:
ind_data['vol_ind_rank'] = ind_data.groupby('ind')['vol'].rank(pct=True)

In [48]:
ind_data['vol_value'] = ind_data['vol_ind_rank'] * ind_data['value_permno']

In [49]:
ind_data['vol_ind'] = ind_data.groupby(['ind', 'date'])['vol_value'].transform('sum') / ind_data.groupby(['ind', 'date'])['value_permno'].transform('sum')

In [50]:
ind_data['vol_market_rank'] = ind_data.groupby('date')['vol_ind'].rank(pct=True)

In [51]:
ind_data['vol_weight'] = ind_data['vol'] * ind_data['value_permno']

In [52]:
ind_data['vol_vw'] = ind_data.groupby(['ind', 'date'])['vol_weight'].transform('sum') / ind_data.groupby(['ind', 'date'])['value_permno'].transform('sum')

In [261]:
ind_data['vol_vw_change'] = ind_data.groupby('ind')['vol_vw'].transform(lambda x: (x - x.shift(12)) / x.shift(12))

# Turnover

In [54]:
outstanding = np.where(ind_data['nasdaq'] != 0, 2 * ind_data['out_share'], ind_data['out_share'])
ind_data['turnover'] = (ind_data['volume'] * 100) / (outstanding * 1000)

In [55]:
ind_data['turnover_ind_rank'] = ind_data.groupby('ind')['turnover'].rank(pct=True)

In [56]:
ind_data['turnover_value'] = ind_data['turnover'] * ind_data['value_permno']

In [57]:
ind_data['turnover_vw'] = ind_data.groupby(['ind', 'date'])['turnover_value'].transform('sum') / ind_data.groupby(['ind', 'date'])['value_permno'].transform('sum')

In [58]:
ind_data['turnover_market_rank'] = ind_data.groupby('date')['turnover_vw'].rank(pct=True)

In [262]:
ind_data['turnover_vw_change'] = ind_data.groupby('ind')['turnover_vw'].transform(lambda x: (x - x.shift(12)) / x.shift(12))

# Age

In [60]:
first_date = ind_data.reset_index().groupby('permno')['date'].min()
ind_data['first_date'] = ind_data.index.get_level_values('permno').map(first_date)
ind_data_date = ind_data.index.get_level_values('date')
ind_data['age'] = ((ind_data_date.year - ind_data['first_date'].dt.year) * 12 + ind_data_date.month - ind_data['first_date'].dt.month) // 12

In [61]:
ind_data['age_ind_rank'] = ind_data.groupby('date')['age'].rank(pct=True)

In [62]:
ind_data['age_value'] = ind_data['age_ind_rank'] * ind_data['value_permno']

In [63]:
ind_data['age_ind'] = ind_data.groupby(['ind', 'date'])['age_value'].transform('sum') / ind_data.groupby(['ind', 'date'])['value_permno'].transform('sum')

In [64]:
ind_data['age_market_rank'] = ind_data.groupby('date')['age_ind'].rank(pct=True)

# Age Tilt

In [65]:
ind_data['ewr_ind'] = ind_data.groupby(['ind', 'date'])['ret_01'].transform('mean')

In [66]:
ind_data['age_weight'] = ind_data.groupby('ind')['age'].transform(lambda x: x / x.sum())

In [67]:
ind_data['awr_permno'] = ind_data['ret_01'] * ind_data['age_weight']

In [68]:
ind_data['awr_ind'] = ind_data.groupby(['ind', 'date'])['awr_permno'].transform('sum')

In [69]:
ind_data['age_tilt'] = ind_data['awr_ind'] - ind_data['ewr_ind']

# Sanity Check

In [70]:
def check(ind, firm):
    x = ind.loc['1926-07-31':'2022-12-31']
    y = firm.loc['1926-07-31':'2022-12-31']
    display(x.head(5))
    display(y.head(5))

    collect = []
    for i in x.columns:
        print('-'*60)
        print(i)
        corr = x[i].corr(y[i])
        collect.append(corr)
        print(corr)
    print('-'*60)
    print(f'Total Mean: {sum(collect) / len(collect)}')

### Check Firm Size

In [74]:
fama_firm = pd.read_csv(root / 'data' / 'fama_firm_49.csv')

fama_firm['date'] = pd.to_datetime(fama_firm['date'].astype(str), format='%Y%m').dt.to_period("M").dt.to_timestamp("M")
fama_firm.columns = [c.strip() for c in fama_firm.columns]

date = fama_firm['date']
fama_firm = fama_firm.drop(columns=['date'])
fama_firm.columns = [col.lower() for col in fama_firm.columns]
# fama_firm = fama_firm.drop(columns=['other'])
fama_firm = fama_firm.sort_index(axis=1)
fama_firm = pd.concat([date, fama_firm], axis=1).set_index('date')

In [75]:
temp_df = ind_data.reset_index()
ind_firm = temp_df.groupby(['date', 'ind']).permno.nunique().unstack()
ind_firm = ind_firm.sort_index(axis=1)
ind_firm = ind_firm.fillna(0)

In [76]:
check(ind_firm, fama_firm)

ind,aero,agric,autos,banks,beer,bldmt,books,boxes,bussv,chems,...,smoke,soda,softw,steel,telcm,toys,trans,txtls,util,whlsl
date,,,,,,,,,,,,,,,,,,,,,
1926-07-31,1.0,2.0,26.0,2.0,2.0,6.0,1.0,5.0,2.0,11.0,...,9.0,0.0,0.0,28.0,3.0,0.0,48.0,7.0,16.0,1.0
1926-08-31,0.0,2.0,32.0,1.0,3.0,7.0,1.0,5.0,3.0,11.0,...,16.0,0.0,0.0,33.0,2.0,1.0,57.0,8.0,18.0,1.0
1926-09-30,1.0,2.0,31.0,1.0,2.0,9.0,1.0,5.0,3.0,11.0,...,12.0,0.0,0.0,31.0,3.0,1.0,55.0,8.0,17.0,1.0
1926-10-31,1.0,0.0,28.0,0.0,2.0,7.0,1.0,5.0,1.0,10.0,...,8.0,0.0,0.0,27.0,1.0,0.0,45.0,8.0,11.0,0.0
1926-11-30,1.0,3.0,31.0,2.0,3.0,9.0,1.0,5.0,3.0,11.0,...,15.0,0.0,0.0,37.0,2.0,1.0,53.0,8.0,18.0,0.0

,aero,agric,autos,banks,beer,bldmt,books,boxes,bussv,chems,...,smoke,soda,softw,steel,telcm,toys,trans,txtls,util,whlsl
date,,,,,,,,,,,,,,,,,,,,,
1926-07-31,1,3,39,3,3,13,1,6,6,17,...,16,0,0,45,5,1,73,14,21,2
1926-08-31,1,3,39,3,3,13,1,6,6,17,...,16,0,0,45,5,1,73,14,21,2
1926-09-30,1,3,39,3,3,13,1,6,6,17,...,16,0,0,45,5,1,73,14,21,2
1926-10-31,1,3,39,3,3,13,1,6,6,17,...,16,0,0,45,5,1,73,14,21,2
1926-11-30,1,3,39,3,3,13,1,6,6,17,...,16,0,0,45,5,1,73,14,21,2

------------------------------------------------------------
aero
0.8592032271139333
------------------------------------------------------------
agric
0.6925293047967739
------------------------------------------------------------
autos
0.6229904337080732
------------------------------------------------------------
banks
0.9624542943268741
------------------------------------------------------------
beer
0.5179877095953417
------------------------------------------------------------
bldmt
0.8275950105001748
------------------------------------------------------------
books
0.8486174702698954
------------------------------------------------------------
boxes
0.3861097307003933
------------------------------------------------------------
bussv
0.9022825301571544
------------------------------------------------------------
chems
0.8310206712163204
------------------------------------------------------------
chips
0.9311117355305236
------------------------------------------------------------
clths
0.9148400150438042
------------------------------------------------------------
cnstr
0.9656312372371947
------------------------------------------------------------
coal
0.2525190137808525
------------------------------------------------------------
drugs
0.9927640259605819
------------------------------------------------------------
elceq
0.7054443846479865
------------------------------------------------------------
fabpr
0.9058870133856127
------------------------------------------------------------
fin
0.06288329950493575
------------------------------------------------------------
food
0.701913378534836
------------------------------------------------------------
fun
0.9404102114949063
------------------------------------------------------------
gold
0.4751221962621092
------------------------------------------------------------
guns
0.8962742380722659
------------------------------------------------------------
hardw
0.9358609810039162
------------------------------------------------------------
hlth
0.9567197147672746
------------------------------------------------------------
hshld
0.8169328825546891
------------------------------------------------------------
insur
0.920341760492111
------------------------------------------------------------
labeq
0.9054011669497697
------------------------------------------------------------
mach
0.8928031169570015
------------------------------------------------------------
meals
0.9220044129992375
------------------------------------------------------------
medeq
0.9629237653407344
------------------------------------------------------------
mines
-0.22227245955250452
------------------------------------------------------------
oil
0.6864887824887803
------------------------------------------------------------
other
-0.017137216807129645
------------------------------------------------------------
paper
0.9513357264035094
------------------------------------------------------------
persv
0.8829429635225868
------------------------------------------------------------
rlest
0.7577064297310899
------------------------------------------------------------
rtail
0.8976443197743256
------------------------------------------------------------
rubbr
0.9504778455846684
------------------------------------------------------------
ships
0.7796997053686341
------------------------------------------------------------
smoke
0.8139207481446256
------------------------------------------------------------
soda
0.6035829609612394
------------------------------------------------------------
softw
0.986337964006386
------------------------------------------------------------
steel
0.74780712405527
------------------------------------------------------------
telcm
0.9646598645899959
------------------------------------------------------------
toys
0.9226429652568462
------------------------------------------------------------
trans
0.35543305712308293
------------------------------------------------------------
txtls
0.9128911321998294
------------------------------------------------------------
util
0.938066633794475
------------------------------------------------------------
whlsl
0.9241525861272587
------------------------------------------------------------
Total Mean: 0.7621420421566991

### Check VWR

In [77]:
fama_vwr = pd.read_csv(root / 'data' / 'fama_vwr_49.csv')

fama_vwr['date'] = pd.to_datetime(fama_vwr['date'].astype(str), format='%Y%m').dt.to_period("M").dt.to_timestamp("M")
fama_vwr.columns = [c.strip() for c in fama_vwr.columns]

date = fama_vwr['date']
fama_vwr = fama_vwr.drop(columns=['date'])
fama_vwr.columns = [col.lower() for col in fama_vwr.columns]
# fama_vwr = fama_vwr.drop(columns=['other'])
fama_vwr = fama_vwr.sort_index(axis=1)
fama_vwr = pd.concat([date, fama_vwr], axis=1).set_index('date')
fama_vwr = fama_vwr/100

In [78]:
collect = []
for industry, df in ind_data.groupby('ind'):
    df = df[['vwr_ind']]
    x = df.unstack('permno')
    x.columns = x.columns.get_level_values(0)
    x = x.reset_index().drop('ind', axis=1).set_index('date')
    x[industry] = x.apply(lambda row: row.dropna().iloc[0] if not row.dropna().empty else np.nan, axis=1)
    collect.append(x[[industry]])

ind_vwr = pd.concat(collect, axis=1)

In [79]:
check(ind_vwr, fama_vwr)

,aero,agric,autos,banks,beer,bldmt,books,boxes,bussv,chems,...,smoke,soda,softw,steel,telcm,toys,trans,txtls,util,whlsl
date,,,,,,,,,,,,,,,,,,,,,
1926-07-31,-0.006536,0.024856,0.185707,0.043323,-0.072445,0.032545,0.502110,0.083014,0.096409,0.091015,...,0.011805,NaN,NaN,0.045815,0.007007,NaN,0.020747,0.036432,0.082441,-0.244635
1926-08-31,NaN,0.022367,0.054595,-0.022222,0.294248,0.021172,0.429775,-0.002453,0.042146,0.058637,...,0.064730,NaN,NaN,0.021576,0.023897,0.168142,0.048845,0.119273,-0.020150,0.045455
1926-09-30,-0.070922,-0.003066,0.069146,0.000000,0.018958,0.002223,-0.049116,-0.044321,0.019747,0.057726,...,0.018409,NaN,NaN,0.005860,0.025022,0.083333,0.003330,0.030201,0.022088,-0.097826
1926-10-31,-0.133588,NaN,-0.079154,NaN,-0.015890,-0.047542,0.053719,-0.047127,0.018248,-0.048075,...,0.005599,NaN,NaN,-0.041145,0.003422,NaN,-0.022763,0.036896,-0.044518,NaN
1926-11-30,0.066079,0.072399,-0.005564,-0.047324,0.078825,0.023580,-0.064000,0.033669,-0.009527,0.054448,...,0.050534,NaN,NaN,0.044287,0.015501,0.000000,0.018217,0.027934,0.044896,NaN

,aero,agric,autos,banks,beer,bldmt,books,boxes,bussv,chems,...,smoke,soda,softw,steel,telcm,toys,trans,txtls,util,whlsl
date,,,,,,,,,,,,,,,,,,,,,
1926-07-31,-0.0065,0.0237,0.1639,0.0461,-0.0519,0.0246,0.5021,0.0770,0.0585,0.0814,...,0.0129,-0.9999,-0.9999,0.0407,0.0083,0.0865,0.0192,0.0039,0.0704,-0.2379
1926-08-31,-0.0658,0.0223,0.0423,0.1183,0.2703,0.0463,0.4298,-0.0238,0.0151,0.0550,...,0.0650,-0.9999,-0.9999,0.0217,0.0217,0.1681,0.0485,0.0797,-0.0169,0.0539
1926-09-30,-0.0709,-0.0057,0.0483,-0.0175,0.0402,-0.0011,-0.0491,-0.0554,0.0081,0.0533,...,0.0126,-0.9999,-0.9999,0.0015,0.0241,0.0833,0.0008,0.0230,0.0204,-0.0787
1926-10-31,-0.1336,-0.0046,-0.0793,-0.1182,-0.0331,-0.0442,0.0537,-0.0508,0.0181,-0.0476,...,0.0106,-0.9999,-0.9999,-0.0385,-0.0011,-0.0140,-0.0262,0.0100,-0.0263,-0.1538
1926-11-30,0.0661,0.0675,-0.0066,-0.0297,0.0729,0.0220,-0.0640,0.0384,0.0078,0.0520,...,0.0455,-0.9999,-0.9999,0.0386,0.0163,0.0000,0.0161,0.0310,0.0371,0.0467

------------------------------------------------------------
aero
0.9808572733807073
------------------------------------------------------------
agric
0.8872076786051908
------------------------------------------------------------
autos
0.9891062797261275
------------------------------------------------------------
banks
0.9696515824562182
------------------------------------------------------------
beer
0.9482777035669454
------------------------------------------------------------
bldmt
0.9825805083713032
------------------------------------------------------------
books
0.8858977092088641
------------------------------------------------------------
boxes
0.9189585737646672
------------------------------------------------------------
bussv
0.6873797167540927
------------------------------------------------------------
chems
0.9844732176942333
------------------------------------------------------------
chips
0.936004326008616
------------------------------------------------------------
clths
0.8635292451942206
------------------------------------------------------------
cnstr
0.9192663065184348
------------------------------------------------------------
coal
0.8414894951543102
------------------------------------------------------------
drugs
0.9862123290170651
------------------------------------------------------------
elceq
0.9057297911346491
------------------------------------------------------------
fabpr
0.43695473013940395
------------------------------------------------------------
fin
0.9447180360925975
------------------------------------------------------------
food
0.9853147646465076
------------------------------------------------------------
fun
0.965856197994849
------------------------------------------------------------
gold
0.5697379612464512
------------------------------------------------------------
guns
0.399687413918428
------------------------------------------------------------
hardw
0.9344588946430966
------------------------------------------------------------
hlth
0.19138192089518552
------------------------------------------------------------
hshld
0.9733060184884373
------------------------------------------------------------
insur
0.9842560329502655
------------------------------------------------------------
labeq
0.9417925980041204
------------------------------------------------------------
mach
0.9833905360436915
------------------------------------------------------------
meals
0.9541595574247526
------------------------------------------------------------
medeq
0.9208073868488447
------------------------------------------------------------
mines
0.9131684672564748
------------------------------------------------------------
oil
0.9949235009117605
------------------------------------------------------------
other
0.6737612953384416
------------------------------------------------------------
paper
0.9061200178284335
------------------------------------------------------------
persv
0.7922187954992903
------------------------------------------------------------
rlest
0.7872777800825815
------------------------------------------------------------
rtail
0.9830332256666853
------------------------------------------------------------
rubbr
0.5487729833794082
------------------------------------------------------------
ships
0.8548475951787199
------------------------------------------------------------
smoke
0.961737766907087
------------------------------------------------------------
soda
0.3199967587134009
------------------------------------------------------------
softw
0.27738518742233437
------------------------------------------------------------
steel
0.9590509562017517
------------------------------------------------------------
telcm
0.9838157329497271
------------------------------------------------------------
toys
0.8980930571507604
------------------------------------------------------------
trans
0.985022842415204
------------------------------------------------------------
txtls
0.9613217714219477
------------------------------------------------------------
util
0.994117258512384
------------------------------------------------------------
whlsl
0.9139634183934667
------------------------------------------------------------
Total Mean: 0.8485933101453497

### Check EWR Size

In [80]:
fama_ewr = pd.read_csv(root / 'data' / 'fama_ewr_49.csv')

fama_ewr['date'] = pd.to_datetime(fama_ewr['date'].astype(str), format='%Y%m').dt.to_period("M").dt.to_timestamp("M")
fama_ewr.columns = [c.strip() for c in fama_ewr.columns]

date = fama_ewr['date']
fama_ewr = fama_ewr.drop(columns=['date'])
fama_ewr.columns = [col.lower() for col in fama_ewr.columns]
# fama_ewr = fama_ewr.drop(columns=['other'])
fama_ewr = fama_ewr.sort_index(axis=1)
fama_ewr = pd.concat([date, fama_ewr], axis=1).set_index('date')
fama_ewr = fama_ewr.replace(-99.99, np.NaN)
fama_ewr = fama_ewr/100

In [81]:
collect = []
for industry, df in ind_data.groupby('ind'):
    df = df[['ewr_ind']]
    x = df.unstack('permno')
    x.columns = x.columns.get_level_values(0)
    x = x.reset_index().drop('ind', axis=1).set_index('date')
    x[industry] = x.apply(lambda row: row.dropna().iloc[0] if not row.dropna().empty else np.nan, axis=1)
    collect.append(x[[industry]])
ind_ewr = pd.concat(collect, axis=1)

In [82]:
check(ind_ewr, fama_ewr)

,aero,agric,autos,banks,beer,bldmt,books,boxes,bussv,chems,...,smoke,soda,softw,steel,telcm,toys,trans,txtls,util,whlsl
date,,,,,,,,,,,,,,,,,,,,,
1926-07-31,-0.006536,0.039669,0.058629,0.037115,-0.100275,0.048669,0.502110,0.032582,0.097906,-0.002650,...,0.003268,NaN,NaN,0.044377,-0.002705,NaN,-0.003325,-0.000371,0.066942,-0.244635
1926-08-31,NaN,-0.006629,0.024383,-0.022222,0.192479,-0.017030,0.429775,0.076575,0.052028,0.028269,...,0.053277,NaN,NaN,-0.008985,0.010734,0.168142,0.055467,0.103147,-0.028837,0.045455
1926-09-30,-0.070922,-0.016705,-0.059333,0.000000,0.006311,-0.010990,-0.049116,-0.050540,-0.008648,0.028197,...,0.035541,NaN,NaN,0.015206,0.012473,0.083333,0.002732,0.016092,0.021243,-0.097826
1926-10-31,-0.133588,NaN,-0.094565,NaN,-0.034501,-0.078244,0.053719,-0.044089,0.018248,-0.125711,...,-0.022866,NaN,NaN,-0.047656,0.003422,NaN,-0.019099,0.088386,-0.053962,NaN
1926-11-30,0.066079,-0.085742,-0.018460,-0.076413,0.112923,0.014057,-0.064000,0.022690,-0.010043,0.092443,...,0.108271,NaN,NaN,0.019937,0.007664,0.000000,0.012999,0.032074,0.071533,NaN

,aero,agric,autos,banks,beer,bldmt,books,boxes,bussv,chems,...,smoke,soda,softw,steel,telcm,toys,trans,txtls,util,whlsl
date,,,,,,,,,,,,,,,,,,,,,
1926-07-31,-0.0065,0.0264,0.0306,0.0496,-0.0536,0.0382,0.5021,0.0129,0.0283,0.0101,...,0.0167,NaN,NaN,0.0305,0.0131,0.0865,-0.0079,0.0041,0.0485,-0.2023
1926-08-31,-0.0658,0.0037,0.0112,0.3423,0.1925,0.0072,0.4298,0.0400,0.0392,0.0302,...,0.0501,NaN,NaN,-0.0058,0.0108,0.1681,0.0503,0.0253,-0.0200,0.0942
1926-09-30,-0.0709,-0.0315,-0.0486,-0.0125,0.0563,-0.0194,-0.0491,-0.0664,-0.0606,0.0240,...,0.0310,NaN,NaN,0.0228,0.0022,0.0833,0.0000,-0.0380,0.0206,0.0032
1926-10-31,-0.1336,0.0055,-0.0888,-0.1113,-0.0608,-0.0544,0.0537,-0.0490,-0.0023,-0.0877,...,-0.0163,NaN,NaN,-0.0498,-0.0099,-0.0140,-0.0234,0.0187,-0.0298,-0.0621
1926-11-30,0.0661,-0.0857,-0.0162,-0.0370,0.1129,0.0126,-0.0640,0.0260,-0.0220,0.0534,...,0.0958,NaN,NaN,0.0181,0.0148,0.0000,0.0042,0.0421,0.0571,-0.0026

------------------------------------------------------------
aero
0.9791184513206709
------------------------------------------------------------
agric
0.8915406024472032
------------------------------------------------------------
autos
0.987218411783752
------------------------------------------------------------
banks
0.9565926283946149
------------------------------------------------------------
beer
0.9484743222897212
------------------------------------------------------------
bldmt
0.9848744768960799
------------------------------------------------------------
books
0.8973874492247318
------------------------------------------------------------
boxes
0.9563559399979552
------------------------------------------------------------
bussv
0.9319889095573005
------------------------------------------------------------
chems
0.9838683667687724
------------------------------------------------------------
chips
0.9349423245056742
------------------------------------------------------------
clths
0.939983611606718
------------------------------------------------------------
cnstr
0.9675030923895779
------------------------------------------------------------
coal
0.8885386426099241
------------------------------------------------------------
drugs
0.9758574321791265
------------------------------------------------------------
elceq
0.9742704894736215
------------------------------------------------------------
fabpr
0.8943357840687097
------------------------------------------------------------
fin
0.9413681714334218
------------------------------------------------------------
food
0.9813883992055026
------------------------------------------------------------
fun
0.9679259341711259
------------------------------------------------------------
gold
0.861607717045775
------------------------------------------------------------
guns
0.8586150885841206
------------------------------------------------------------
hardw
0.9705144985868539
------------------------------------------------------------
hlth
0.9349378449803407
------------------------------------------------------------
hshld
0.9785512246549319
------------------------------------------------------------
insur
0.9597464707774412
------------------------------------------------------------
labeq
0.969875713625274
------------------------------------------------------------
mach
0.9896419796627398
------------------------------------------------------------
meals
0.9403501337679434
------------------------------------------------------------
medeq
0.9263937079921474
------------------------------------------------------------
mines
0.9119739584131447
------------------------------------------------------------
oil
0.9845620227515557
------------------------------------------------------------
other
0.6578942419907757
------------------------------------------------------------
paper
0.9940412198213866
------------------------------------------------------------
persv
0.9388862444627639
------------------------------------------------------------
rlest
0.9055174479909266
------------------------------------------------------------
rtail
0.9864064552003179
------------------------------------------------------------
rubbr
0.9639960631191229
------------------------------------------------------------
ships
0.9540426848619642
------------------------------------------------------------
smoke
0.8311927349598291
------------------------------------------------------------
soda
0.7602266707394647
------------------------------------------------------------
softw
0.798871440261669
------------------------------------------------------------
steel
0.987569433630658
------------------------------------------------------------
telcm
0.9667465666498988
------------------------------------------------------------
toys
0.9499528536531154
------------------------------------------------------------
trans
0.9794439748144457
------------------------------------------------------------
txtls
0.9742842231627442
------------------------------------------------------------
util
0.984114618599249
------------------------------------------------------------
whlsl
0.9323218943214417
------------------------------------------------------------
Total Mean: 0.9354247463144133

# Issuance

In [83]:
ind_data['adj_share_pct'] = ind_data.groupby(['ind', 'permno'])['adj_share'].pct_change(periods=12)

In [84]:
ind_data = ind_data.replace([np.inf, -np.inf], np.nan)

In [85]:
ind_data['issued_equity'] = ind_data['adj_share_pct'] >= 0.05

In [86]:
ind_data['issuance'] = ind_data.groupby(['ind', 'date'])['issued_equity'].transform('mean')

# Book to Market

### Fama

In [169]:
with open(root / 'data' / 'fama_be.txt', 'r') as file:
    lines = file.readlines()
    
full_text = ''.join(lines)
records = re.split(r'(\d{5} )', full_text)[1:]
records = [records[i] + records[i + 1] for i in range(0, len(records), 2)]
data = []

for record in records:
    data.append(record.split())
be_pre  = pd.DataFrame(data)

In [170]:
all_rows = []

for _, row in be_pre.iterrows():
    permno = row[0]
    start_date = int(row[1])
    end_date = int(row[2])
    for year in range(start_date, end_date + 1):
        new_row = row.copy()
        new_row[1] = year
        all_rows.append(new_row)

be_pre = pd.DataFrame(all_rows)

# Set the multi-index
be_pre = be_pre.set_index([0, 1])
be_pre.index.names = ['permno', 'date']
be_pre = be_pre.drop(2, axis=1)

In [171]:
collect = []
for _, df in be_pre.groupby('permno'):
    df['btm']=df.values[0][:len(df)]
    collect.append(df[['btm']])

be_pre = pd.concat(collect, axis = 0)
be_pre = be_pre.reset_index().set_index('date')
be_pre['permno'] = be_pre['permno'].astype(int)

In [172]:
be_pre['btm'] = be_pre['btm'].astype(float)
be_pre['btm'] = be_pre['btm']/100
be_pre = be_pre.sort_index()

In [173]:
be_pre.loc[be_pre.btm == be_pre.btm.iloc[-1], 'btm'] = np.nan

In [202]:
be_pre = be_pre.loc['1926':'1960']

In [203]:
be_pre = be_pre.dropna()

### CRSP

In [204]:
be_curr = pd.read_csv(root / 'data' / 'curr_be.csv')

In [206]:
be_curr['btm'] = (be_curr['atq']-be_curr['ltq'])/(be_curr['prccq']*be_curr['cshoq'])

In [207]:
be_curr = be_curr.rename(columns={'LPERMNO':'permno', 'datadate':'date'})

In [208]:
be_curr['date'] = pd.to_datetime(be_curr['date'])

In [209]:
be_curr = be_curr.set_index('date')

In [210]:
be_curr = be_curr[['permno', 'btm']]

### Combined

In [211]:
be_total = pd.concat([be_pre, be_curr], axis=0)

In [212]:
be_total = be_total.reset_index('date').set_index(['permno', 'date'])

In [213]:
be_total = be_total.sort_index(level=['permno', 'date'])

In [214]:
btm = be_total.reset_index()

In [215]:
def convert_date(x):
    if len(str(x)) == 4:  # it's just a year
        return pd.to_datetime(x, format='%Y')
    else:
        return pd.to_datetime(x)  # let pandas infer the format

btm['date'] = btm['date'].apply(convert_date)

In [216]:
btm = btm.drop_duplicates(subset=['permno', 'date'], keep='first')
btm = btm.set_index('date')

In [217]:
btm = btm.groupby('permno').apply(lambda group: group.resample('M').ffill())
btm = btm.drop('permno', axis=1)

### Add to ind_data

In [219]:
ind_data = ind_data.reset_index().set_index(['permno', 'date'])

In [220]:
ind_data = pd.merge(ind_data, btm, left_index=True, right_index=True, how='left')

In [221]:
ind_data = ind_data.reset_index()

In [222]:
ind_data['ind'] = ind_data.groupby('permno')['ind'].ffill()

In [223]:
ind_data = ind_data.set_index(['ind', 'permno', 'date'])

In [224]:
ind_data['btm'] = ind_data['btm'].astype(float)

In [225]:
ind_data['btm_weight'] = ind_data['btm'] * ind_data['value_permno']

In [226]:
ind_data['btm_vwr'] = ind_data.groupby(['ind', 'date'])['btm_weight'].transform('sum') / ind_data.groupby(['ind', 'date'])['value_permno'].transform('sum')

# Sales Growth

In [228]:
revenue = pd.read_csv(root / 'data' / 'revenue.csv')

In [229]:
revenue = revenue.rename(columns={'LPERMNO':'permno', 'datadate':'date', 'revt':'revenue'})

In [230]:
revenue = revenue[['permno', 'date', 'revenue']]

In [231]:
revenue['date'] = pd.to_datetime(revenue['date'])

In [232]:
revenue = revenue.sort_values(by=['permno','date'])

In [233]:
revenue['revenue'] = revenue.groupby('permno')['revenue'].pct_change()

In [234]:
revenue = revenue.set_index('date')

In [235]:
revenue = revenue.groupby('permno').apply(lambda group: group.resample('M').ffill())

In [236]:
revenue = revenue.drop('permno', axis=1)

In [237]:
ind_data = ind_data.reset_index().set_index(['permno', 'date'])

In [238]:
ind_data = pd.merge(ind_data, revenue, left_index=True, right_index=True, how='left')

In [239]:
ind_data = ind_data.reset_index().set_index(['ind', 'permno', 'date'])

In [240]:
ind_data['revenue_ind_rank'] = ind_data.groupby('ind')['revenue'].rank(pct=True)

ind_data['revenue_value'] = ind_data['revenue_ind_rank'] * ind_data['value_permno']

ind_data['revenue_ind'] = ind_data.groupby(['ind', 'date'])['revenue_value'].transform('sum') / ind_data.groupby(['ind', 'date'])['value_permno'].transform('sum')

ind_data['revenue_market_rank'] = ind_data.groupby('date')['revenue_ind'].rank(pct=True)

# CAPE

In [241]:
cape = pd.read_csv(root / 'data' / 'cape.csv')

In [242]:
series = cape.date

In [243]:
years = series.astype(int)
months = ((series - years) * 100).round().astype(int)
datetimes = pd.to_datetime(years.astype(str) + '-' + months.astype(str) + '-01')

In [244]:
cape['date']=datetimes

In [245]:
cape['date'] = cape['date'].dt.to_period("M").dt.to_timestamp("M")

In [246]:
ind_data = ind_data.reset_index().merge(cape.reset_index(), on='date', how='left').set_index(['ind', 'permno', 'date'])

# Acceleration

In [247]:
def calculate_acceleration(data):
    data = data.reset_index(level=['ind', 'permno'], drop=True)
    data['1t24'] = (data['ret_01'] + 1).rolling(24).apply(np.prod, raw=True) - 1
    data['12t24'] = (data['ret_01'] + 1).shift(12).rolling(12).apply(np.prod, raw=True) - 1
    data['acc'] = data['1t24'] - data['12t24']
    return data

In [248]:
ind_data = ind_data.groupby(level=['ind', 'permno']).apply(calculate_acceleration)
ind_data = ind_data.sort_index(level=['permno', 'date'])

# Total Market Return

In [249]:
ind_data['permno_weighted'] = ind_data['value_permno'] * ind_data['ret_01']
total_weighted_return = ind_data.groupby('date')['permno_weighted'].transform('sum')
total_market_value = ind_data.groupby('date')['value_permno'].transform('sum')
ind_data['market_return'] = total_weighted_return / total_market_value

# 2 Year Return

In [250]:
ind_data['two_vwr_ind'] = ind_data.groupby('ind')['vwr_ind'].rolling(window=24).apply(lambda x: (x + 1).prod() - 1, raw=True).values

# Risk Free Rate

In [251]:
rf = pd.read_csv(root / 'data' / 'risk_free.csv')

In [252]:
rf = rf.drop('KYTREASNOX', axis=1)

In [253]:
rf.columns = ['date', 'rf']

In [254]:
rf['date'] = pd.to_datetime(rf['date'])

In [255]:
rf = rf.set_index('date')

In [256]:
rf = rf.loc[~rf.index.duplicated(keep='first')]

In [257]:
rf = rf.dropna()

# Retrieving paper predictors

In [263]:
ind_data.columns

Index(['share_code', 'sic_crsp', 'ticker', 'nasdaq', 'adj_share', 'close',
       'volume', 'ret_01', 'out_share', 'sic_comp', 'ind_crsp', 'ind_comp',
       'value_permno', 'value_ind', 'vwr_weight', 'vwr_permno', 'vwr_ind',
       'vol', 'vol_ind_rank', 'vol_value', 'vol_ind', 'vol_market_rank',
       'vol_weight', 'vol_vw', 'turnover', 'turnover_ind_rank',
       'turnover_value', 'turnover_vw', 'turnover_market_rank', 'first_date',
       'age', 'age_ind_rank', 'age_value', 'age_ind', 'age_market_rank',
       'ewr_ind', 'age_weight', 'awr_permno', 'awr_ind', 'age_tilt',
       'adj_share_pct', 'issued_equity', 'issuance', 'btm', 'btm_weight',
       'btm_vwr', 'revenue', 'revenue_ind_rank', 'revenue_value',
       'revenue_ind', 'revenue_market_rank', 'index', 'cape', '1t24', '12t24',
       'acc', 'permno_weighted', 'market_return', 'two_vwr_ind',
       'vol_vw_change', 'turnover_vw_change'],
      dtype='object')

In [264]:
final = ind_data.drop(['share_code', 'sic_crsp', 'ticker', 'nasdaq', 'adj_share', 'close', 'volume', 'ret_01', 'out_share',
                       'sic_comp', 'ind_crsp', 'ind_comp', 'value_ind', 'value_permno', 'value_ind', 'vwr_weight', 
                       'vwr_permno', 'vol_ind_rank', 'vol_value', 'vol_ind', 'vol_market_rank',
                       'turnover_ind_rank', 'turnover_value', 'btm_weight', 'vol_weight', 'btm',
                       'first_date', 'age', 'ewr_ind', 'age_ind_rank', 'age_value', 'age_ind', 'age_weight',
                       'awr_permno', 'awr_ind', 'adj_share_pct', 'issued_equity', 'revenue', 'revenue_ind_rank', 
                       'revenue_value', 'revenue_ind', 'index', '1t24', '12t24', 'vol', 'turnover', 'turnover_market_rank', 'permno_weighted'], axis=1)

In [265]:
final.columns

Index(['vwr_ind', 'vol_vw', 'turnover_vw', 'age_market_rank', 'age_tilt',
       'issuance', 'btm_vwr', 'revenue_market_rank', 'cape', 'acc',
       'market_return', 'two_vwr_ind', 'vol_vw_change', 'turnover_vw_change'],
      dtype='object')

# Convert to Date/Ind Pair

In [266]:
def convert(data, column):
    collect = []
    for industry, df in data.groupby('ind'):
        df = df[[column]]
        x = df.unstack('permno')
        x.columns = x.columns.get_level_values(0)
        x = x.reset_index().drop('ind', axis=1).set_index('date')
        x[industry] = x.apply(lambda row: row.dropna().iloc[0] if not row.dropna().empty else np.nan, axis=1)
        collect.append(x[[industry]])

    data = pd.concat(collect, axis=1)
    data = data.stack().to_frame()
    data.index.names = ['date', 'ind']
    data = data.rename(columns={0:column})

    return data

In [267]:
collect = []
for col in final.columns:
    print('-----------------------------')
    print(col)
    collect.append(convert(final, col))
collect = pd.concat(collect, axis = 1)

-----------------------------
vwr_ind
-----------------------------
vol_vw
-----------------------------
turnover_vw
-----------------------------
age_market_rank
-----------------------------
age_tilt
-----------------------------
issuance
-----------------------------
btm_vwr
-----------------------------
revenue_market_rank
-----------------------------
cape
-----------------------------
acc
-----------------------------
market_return
-----------------------------
two_vwr_ind
-----------------------------
vol_vw_change
-----------------------------
turnover_vw_change

In [268]:
def create_multi_index(data, stock):
    all_dates = data.index.repeat(len(stock))
    all_stocks = pd.Series(stock * len(data)).values

    multi_index = pd.MultiIndex.from_tuples(list(zip(all_dates, all_stocks)), names=['date', 'ind'])
    df_multi = pd.DataFrame(data.values.repeat(len(stock), axis=0), index=multi_index, columns=data.columns)
    
    return df_multi

def get_stock_idx(data):
    return [stock for stock, df in data.groupby(data.index.names[1], group_keys=False)]

In [269]:
risk = create_multi_index(rf, get_stock_idx(collect))

In [270]:
output = collect.merge(risk, left_index=True, right_index=True, how='left')

In [271]:
output = output.replace([np.inf, -np.inf], np.nan)

In [272]:
output.to_parquet(root / 'data' / 'predictors.parquet.brotli', compression='brotli')